.example-table-container {
    height: 520px;
    overflow: auto;
}

table {
    width: 100%;
}

.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}

.spinner_container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    position: absolute;
    top: 45%;
    left: 49%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}